<!DOCTYPE html>
<html>
<title>Trace!</title>

<head>

  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/game_start.css">

  <!-- FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,500|Nunito|Lato:400,700' rel='stylesheet' type='text/css'>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- Parse -->
  <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
  <script type="text/javascript">Parse.initialize("8kX4XI8S4kGRt1A2Q14HusYMvy8l5eh0dAuprShH", "Ljl36WNwixt7TN5WtmOxVvHHq40vCCHB7Lcdj2N7")</script>

  <!-- Javscripts -->
  <script type="text/javascript" src="/js/game.js"></script>
  <script type="text/javascript" src="/js/client.js"></script>
  
</head>

<body>

  <div class = "wrapper">
    <div class = "header">
      <center><div class = "menu-links">
      <a href="howto">how to play</a>
      <a id="login-link" onclick="showSignin()">sign out</a>
      </div></center>     
    </div>

    <div class = "content">

      <a class = "logo" href="/">trace</a>

      <div class = "tagline">trace your way to the truth!</div>
      <div class = "tagline-2">choose an option to start a game</div>

      <div id = "start-buttons">
        <button onclick="showJoinGame()">Join Game</button>
        <button onclick="showNewGame()">Create Game</button>
      </div>
          <div id="game-wrap">
            <div id="game-form">
              <form class="game-form">
                <label for="gamename">Game Title</label>
                <input type="text" name="gamename" id="new-gamename" class="input">
                <label for="question">What's the question?'</label>
                <input type="text" name="question" id="new-question" class="input">
                <label for="hint">What is the initial clue you want to give?</label>
                <input type="text" name="hint" id="new-hint" class="input">
                <label for="hint">Please create a passcode for the game.</label>
                <input type="text" name="pass" id="new-pass" class="input">                
                <!-- <label for="email">Access Code</label>
                <input type="text" name="access" id="access-code" class="input"> -->
              </form>
              <span>
                <button class="small_button" onclick="createGame()">
                  Go In!
                </button>
              </span>
            </div>

            <div id="join-game-form">
              <form class="game-form">
                <label for="gamepass">Game Code</label>
                <input type="text" name="gamepass" id="game-pass" class="input">
              </form>
              <span>
                <button class="small_button" onclick="joinGame()">
                  play
                </button>
              </span>
            </div>

          </div>
            
    <div class = "footer">

    </div>
  </div>

</body>

</html>