<!DOCTYPE html>
<html>
<head>
	<title>Trace!</title>

  <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/howto.css">

	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,500|Nunito|Lato:400,700' rel='stylesheet' type='text/css'>

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>

<body>
	<div class = "wrapper">
		<div class = "header">
			<center><div class = "menu-links">
			<a href="howto">how to play</a>
			<a href="game_start">game</a>
			</div></center>			
		</div>

		<div class = "content">

			<a class = "logo" href="/">trace</a>

			<div class = "tagline">trace your way to the truth!</div>
			<div class = "tagline-2">here's how to play:</div>

      <div class = "howto-slide" id = "howtoslide1">
      <button class = "next" onclick = "slide2()">next</button>
      <div class = "howto-text">Ponder the answers to your friends' epic questions...</div>
      <div><img src="/img/trace1.png"></div>
      </div>

      <div class = "howto-slide" id = "howtoslide2">
      <button class = "next" onclick = "slide3()">next</button> 
      <div class = "howto-text">Drop clues to help each other out...</div>
      <div><img src="/img/trace4.png"></div>     
      </div>

      <div class = "howto-slide" id = "howtoslide3">
      <button class = "next" onclick = "slide4()">next</button>
      <div class = "howto-text">Trace your way to the truth...</div>
      <div><img src="/img/trace2.png"></div>
      </div>

      <div class = "howto-slide" id = "howtoslide4">
      <a href='/'><button class = "next">play now</button></a>
      <div class = "howto-text">Until it's your turn to take control! </div>
      <div><img src="/img/trace3.png"></div>
      </div>

    </div>         

    <div class="howto-text" style="color: #393E41">Hint: type gif... before a guess to add some flavor to your game!</div>

		<div class = "footer">

		</div>
	</div>

  <!-- JS -->
  <script type="text/javascript" src="/js/landing.js"></script>
  <script type="text/javascript" src="/js/user.js"></script>
  <script type="text/javascript" src="/js/howto.js"></script>

</body>

</html>