<!DOCTYPE html>
<html>
<head>
	<title>Trace!</title>

	<link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/howto.css">

	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,500|Nunito|Lato:400,700' rel='stylesheet' type='text/css'>

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Javscripts -->

	<script type="text/javascript" src="/js/landing.js"></script>
  <script type="text/javascript" src="/js/user.js"></script>

</head>

<body>
	<div class = "wrapper">
		<div class = "header">
			<center><div class = "menu-links">
			<a href="">how to play</a>
			<a id="login-link" onclick="showSignin()">sign in</a>
			</div></center>			
		</div>

		<div class = "content">

			<div class = "logo">trace</div>

			<div class = "tagline">trace your way to the truth!</div>
			<div class = "tagline-2">here's how to play:</div>

      <div class = "howto-text">Ponder the answers to your friends' epic questions...</div>
      <div><img src=""></div>
      <div class = "howto-text">Use your creative spirit to reach those answers...</div>
      <div><img src=""></div>
      <div class = "howto-text">Trace a path to the truth...</div>
      <div><img src=""></div>
      <div class = "howto-text">Until it's your turn to take control! </div>
      <div><img src=""></div>

    </div>         

		<div class = "footer">

		</div>

	</div>
</body>

</html>