<!DOCTYPE html>
<html>
<head>
	<title>Trace!</title>

	<link rel="stylesheet" type="text/css" href="../public/css/landing.css">

	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,500|Nunito|Lato:400,700' rel='stylesheet' type='text/css'>

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Javscripts -->
	<script type="text/javascript" src="../public/js/landing.js"></script>
  <script type="text/javascript" src="../public/js/user.js"></script>

  <!-- Parse -->
  <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
  <script type="text/javascript">Parse.initialize("8kX4XI8S4kGRt1A2Q14HusYMvy8l5eh0dAuprShH", "Ljl36WNwixt7TN5WtmOxVvHHq40vCCHB7Lcdj2N7")</script>

</head>

<body>
	<div class = "wrapper">
		<div class = "header">
			<center><div class = "menu-links">
			<a href="">how to play</a>
			<a id="login-link" onclick="showSignin()">sign in</a>
			</div></center>			
		</div>

		<div class = "content">

			<div class = "logo">trace</div>

			<div class = "tagline">trace your way to the truth!</div>
			<div class = "tagline-2">sign up below to start a game</div>

			<!-- credit to sophstad -->
            <div id="signup-form">
              <form class="signup-form">
                <label for="username">Username</label>
                <input type="text" name="username" id="new-username" class="input">
                <label for="password">Password</label>
                <input type="password" name="password" id="new-password" class="input" minlength="6" maxlength="12">
                <label for="passconf">Confirm Password</label>
                <input type="password" name="passconf" id="confirm-password" class="input">
                <label for="email">Email</label>
                <input type="text" name="email" id="new-email" class="input">
                <label for="email">Access Code</label>
                <input type="text" name="access" id="access-code" class="input">
              </form>
              <span>
                <button class="small_button" onclick="newUser()">
                  Join
                </button>
              </span>
            </div>

             <div id="signin-form">
              <form class="signin-form">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="input" minlength="6" maxlength="12">
              </form>
              <span>
                <button class="small_button" onclick="newUser()">
                  Join
                </button>
              </span>
            </div>  
           </div>         

		<div class = "footer">

		</div>
	</div>
</body>

</html>