<!DOCTYPE html>
<html>
<head>
  <title>Trace!</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/howto.css">

  <!-- FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,500|Nunito|Lato:400,700' rel='stylesheet' type='text/css'>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>

  <!-- Parse -->
  <script type="text/javascript">
    Parse.initialize("8kX4XI8S4kGRt1A2Q14HusYMvy8l5eh0dAuprShH", "Ljl36WNwixt7TN5WtmOxVvHHq40vCCHB7Lcdj2N7")
  </script>

</head>

<body>

  <section class="landing">
    <div class = "wrapper">

      <div class = "header">
        <div class = "menu-links">
          <a id="how-to-link">how to play</a>
          <a id="sign-in-link">sign in</a>
          <a id="sign-up-link">sign up</a>
        </div>
      </div>

      <div class = "content">

        <div class = "logo">trace</div>

        <iframe id = "vid" width="560" height="315" src="https://www.youtube.com/embed/mO77BdDwu0Q" frameborder="0" allowfullscreen></iframe>

        <div id="sign-up-form" class="start-form">

          <label for="username">Username</label>
          <input type="text" name="username" id="new-username" class="input">
          
          <label for="password">Password</label>
          <input type="password" name="password" id="new-password" class="input" minlength="6" maxlength="12">
          
          <label for="passconf">Confirm Password</label>
          <input type="password" name="passconf" id="confirm-password" class="input">
          
          <label for="email">Email</label>
          <input type="text" name="email" id="new-email" class="input">

          <div id="go-in-button" class="pointer button">Join</div>
        </div>

        <div id="sign-in-form" class="start-form">
          
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="input">
          
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="input" minlength="6" maxlength="12">
          
          <div id="join-button" class="pointer button">Go In!</div>
        </div>  
       
      </div>         

      <div class = "footer">
        <div class="copyright">3005Hacks &copy; 2015</div>
      </div>
    </div>    
  </section>

  <section class="howto">
    <div class = "wrapper">

      <div class = "content">

        <a class = "logo-howto" href="/">trace</a>

        <div class = "tagline">trace your way to the truth!</div>
        <div class = "tagline-2">here's how to play:</div>

        <div class = "howto-slide" id = "howtoslide1">
        <button class = "next" onclick = "slide2()">next</button>
        <div class = "howto-text">Ponder the answers to your friends' epic questions...</div>
        <div><img src="/img/trace1.png"></div>
        </div>

        <div class = "howto-slide" id = "howtoslide2">
        <button class = "next" onclick = "slide3()">next</button> 
        <div class = "howto-text">Drop clues to help each other out...</div>
        <div><img src="/img/trace4.png"></div>     
        </div>

        <div class = "howto-slide" id = "howtoslide3">
        <button class = "next" onclick = "slide4()">next</button>
        <div class = "howto-text">Trace your way to the truth...</div>
        <div><img src="/img/trace2.png"></div>
        </div>

        <div class = "howto-slide" id = "howtoslide4">
        <button class = "next" onclick = "window.open('game_start', '_self')">play now</button> 
        <div class = "howto-text">Until it's your turn to take control! </div>
        <div><img src="/img/trace3.png"></div>
        </div>

      </div>         

<!--       <div class="howto-text" style="color: #393E41">Hint: type gif... before a guess to add some flavor to your game!</div> -->
    </div>
  </section>

  <!-- JS -->
  <script type="text/javascript" src="/js/client.js"></script>
  <script type="text/javascript" src="/js/user.js"></script>
  <script type="text/javascript" src="/js/howto.js"></script>

</body>

</html>