.menu-bar{
	min-height: 30%;
}
.wrapper{
	height: 100vh;
}
#tag{
	font-size: 2rem;
}
#game-form{
	display: none;
}
#join-game-form{
	display: none;
}
#join-game-form label{
	display: block;
	margin: 2% 0 2% 0;
}
.button { 
	width: 18%; 
	border: none; 
	padding: 10px 10px 10px 10px; 
	text-align: center; color:white; 
	font-size: 80%; 
	overflow: hidden;
	font-size: 1.5rem; 
	margin: 2% 2% 0 2%; 
	cursor: pointer;
	display: block;
}

#start-buttons{
	padding-top: 8%;
}
#game-
