.howto-text{
	font-size: 2.5rem;
	width: 100%;
	margin: 3% 0 3% 0;
	text-align: center;
}
#howtoslide2{
	display: none;
}
#howtoslide3{
	display: none;
}
#howtoslide4{
	display: none;
}
.howto-slide{
}
.howto-slide img{
	height: 20rem;
	width: auto;
	border: 0.3rem solid #393E41;
}
#howto{
	display: none;
	margin: 4% 0 0 0;
}