.howto
{
	background-color: white;
	color: #ACBED8;
}

.logo-howto
{
	color: #E7BB41;

	margin-bottom: 2%;
	font-family: 'Fredoka One';
	font-size: 13rem;
}

.tagline
{
	font-size: 3rem;
}

.tagline-2
{
	color: #393E41;
}

.howto-text
{
	font-size: 2rem;
	width: 50%;
	margin: 3% 25% 3% 25%;
	text-align: center;
	
}

#howtoslide2
{
	display: none;
}

#howtoslide3
{
	display: none;
}

#howtoslide4
{
	display: none;
}

.howto-slide
{
	height: 20%;
	margin-top: 3%;
}

.howto-slide img
{
	height: 20rem;
	width: auto;
	border: 0.3rem solid #393E41;
}