/*HTML ELEMENTS*/
body, html{
	height: 100%;
	background-color: #44BBA4;
	font-family: 'Lato', 'sans-serif';
	color: white;
	font-size: 10px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div{
	margin: 2% 0 2% 0;
}
a{
	text-decoration: none;
	color: inherit;
}
.content{
	text-align: center;
	height: 100%;
}
.footer{
	margin: 0;
}


/*HEADER*/
.header{
	width: 100%;
	text-align: center;
}
.menu-links{
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.menu-links a{
	font-size: 1.5rem;
}

/*LOGO*/
.logo{
	text-align: center;
	margin-bottom: 4%;
	font-family: 'Fredoka One';
	font-size: 10rem;
}

/*GAME STYLING*/
.card{
	margin: 4% 30% 4% 30%;
	font-size: 2rem;
	border: 0.2rem solid white;	
	width: 40%;
	padding: 0 0 2% 2%;
	background-color: #393E41;
	color: white;
}
.card img{
	height: 1.5rem;
	width: auto;
}
.lead-text{
	font-size: 1.5rem;
	text-align: left;	
}
	/*QUESTION*/
	#question{
		min-height: 10%;
		background-color: #E7BB41;
		border: 0.2rem solid #393E41;
		color: white;
	}
		#asker{

		}
	/*CLUE*/
	#clue{
		min-height: 10%;
	}
		#clue-lead{

		}
	/*GUESS*/
	#guess{
		min-height: 10%;
	}
		#guesser{

		}
	/*SOLUTION*/
	#solution{
		min-height: 10%;
	}
		#solver{

		}

/*SUBMIT FORM*/
button { width: 9%; background: #E7BB41; border: none; padding: 10px 10px 10px 0; text-align: center; color:white; font-size: 80%; overflow: hidden;}
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
input {
	display: block;
	text-align: center;
	width: 40%;
	margin: 0 30% 0 30%;
}
#submit-clue{
	display:none;
}
#submit-solve{
	display:none;
}
#guess-button{
	display: none;
}
#solve-button{
	display: none;
}